body {
    font-family: 'Poppins', sans-serif;

}

.imageCircleFive {
    border-radius: 400px;
    width: 80%;
}

.cardModeFive {
    text-align: center;
    background: #D9D9D9;
    box-shadow: 0px 13px 7px 0px rgba(0, 0, 0, 0.23);
    border: none;
}

.paddingMode {
    margin-top: 10px;
    margin-bottom: 10px;
}

.titleFive {
    font-weight: 700;
}

.titleUni {
    font-weight: 600;
    opacity: 0.5;
}


.textAboutFestim {
    font-weight: 600;
}

.text_and_paragah {
    text-align: center;
}

.text_and_paragah h3 {
    font-weight: 600;
}

/* color: #676767; */

.text_and_paragah p {
    color: #676767;
    font-weight: 600;
}