.text_and_button {
    background: #D9D9D9;
    position: relative;
    z-index: 1;

}

.text_and_button h3 {
    font-weight: 700;
    z-index: 88;
}


.text_and_button h5 {
    font-weight: 600;
    z-index: 88;
}

.button {
    z-index: 99;

}


.imgmodeapsolute {
    position: absolute;
    opacity: 0.5;
    margin-left: 42%;
    margin-right: 65%;
    display: block;
    top: 20%;
}