.textCenterThpage {
    text-align: center;
}

.h4textCenterThpage {
    color: #676767;
}

.text_mode_change {
    text-align: center;
}

.text_mode_change #text {
    font-weight: 600;
}

.buttonRight {
    border: none;
    background: none;
    opacity: 0.5;
}

.buttonRight:hover {
    background-color: #cacaca;
    border-radius: 15px;
}

.buttonLeft {
    border: none;
    opacity: 0.5;
    background: none;
}

.buttonLeft:hover {
    background-color: #cacaca;
    border-radius: 15px;
}

.positionButton {
    position: relative;
}

/* .buttoAll {} */

.buttoAll .buttonLeft {
    position: absolute;
    left: 0;
    top: 90%;

}


.buttoAll .buttonRight {
    position: absolute;
    right: 0;
    top: 90%;
}